<form action="">
    <h6>Biography</h6>
    <div class="form-row">
        <div class=" col-md-4">
            <label for="email" class="label"> Firstname: </label>
            <label for=""> {{ firstname}}</label>
            <br>
        </div>
        <div class="col-md-4">
            <label for="email" class="label"> Middlename: </label>
            <label for=""> {{  middlename }}</label>
            <br>
        </div>
        <div class="col-md-4">
            <label for="email" class="label"> Lastname: </label>
            <label for=""> {{ lastname}}</label>
            <br>
        </div>
    </div>
    <div class="form-row">
        <div class=" col-md-4">
            <label for="email" class="label"> Mobile Number: </label>
            <label for=""> {{ mobileNo }}</label>
            <br>
        </div>
        <div class=" col-md-4">
            <label for="email" class="label"> Telephone Number: </label>
            <label for=""> {{ telephoneNo}}</label>
            <br>
        </div>
        <div class=" col-md-4">
            <label for="email" class="label"> Staff Id: </label>
            <label for=""> {{ staffId }}</label>
            <br>
        </div>
    </div>
    <div class="form-row">
        <div class=" col-md-4">
            <label for="email" class="label"> Email: </label>
            <label for=""> {{ email}}</label>
            <br>
        </div>

        <div class=" col-md-4">
            <label for="email" class="label"> Website: </label>
            <label for=""> {{ Website }}</label>
            <br>
        </div>
    </div>
    <br>
    <h6>Education</h6>
    <div class="form-row">
        <div class=" col-md-4">
            <label for="email" class="label"> Position: </label>
            <label for=""> {{  position }}</label>
            <br>
        </div>
        <div class=" col-md-4">
            <label for="email" class="label"> Highest Education: </label>
            <label for=""> {{  highesteducation }}</label>
            <br>
        </div>
        <div class=" col-md-4">
            <label for="email" class="label"> Research Group: </label>
            <label for=""> {{ researchgroup }}</label>
            <br>
        </div>
    </div>
    <br>
    <h6>Administration</h6>
    <div class="form-row">
        <div class=" col-md-4">
            <label for="email" class="label"> Office No: </label>
            <label for=""> {{  officeno }}</label>
            <br>
        </div>
        <div class=" col-md-8">
            <label for="email" class="label"> Administrative role: </label>
            <label for=""> {{  administrativerole }}</label>
            <br>
        </div>
    </div>
    <br>
    <br>
    <h6 class="complete">Complete your profile</h6>
    <h6> Education </h6>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">Research interest</label>
            <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Research interest</label>
            <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Research interest</label>
            <input type="text" class="form-control" id="inputEmail4">
        </div>
    </div>

    <h6> Consultation hours </h6>
    <div class="form-row">
        <div class="form-group form-check space1">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Monday</label>
        </div>
        <div class="form-group form-check space ">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Tuesday</label>
        </div>
        <div class="form-group form-check space">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Wednesday</label>
        </div>
        <div class="form-group form-check space">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Thursday</label>
        </div>
        <div class="form-group form-check space">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Friday</label>
        </div>
    </div>


    <br>
    <div class="row justify-content-center">
        <input class="saveandedit" type="reset" value="Edit">
        <button class="buttonspace saveandedit">Save</button>
    </div>
</form>