<h5>Biography</h5>
<form>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">First Name</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Middle Name</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Last Name</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">Mobile Number</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Telephone Number</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Fax</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Website</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
    </div>
</form>
<h5>Education</h5>
<form>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputState">Position</label>
            <select id="inputState" class="form-control">
                 <option selected>Choose one</option>
                 <option>Full Professor</option>
                  <option>Associate professor</option>
                  <option>Senior Lecturer</option>
                  <option>Lecturer</option>
                  <option>Assistant Lecturer</option>
                  <option>Tutorial Assistant</option>

                </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Highest Eduacation</label>
            <select id="inputState" class="form-control">
                      <option selected>Choose one</option>
                      <option>Bachelor's degree</option>
                      <option>Master's degree</option>
                      <option>Doctor's degree</option>
                    </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Research Group</label>
            <select id="inputState" class="form-control">
                          <option selected>Choose one</option>
                          <option>Signal processing </option>
                          <option>Wireless communication</option>
                        </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">Research interests</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
    </div>
</form>
<h5>Administration</h5>
<form>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">Office No:</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Eg..B19">
        </div>

        <div class="form-group col-md-4">
            <label for="inputState">Administrative role</label>
            <select id="inputState" class="form-control">
                          <option selected>Choose one</option>
                          <option>Examination officer </option>
                          <option>Postgraduate cordinator</option>
                          <option>Undergraduate cordinator </option>
                          <option>Timetable master</option>
                          <option>RPI and PDP cordinator </option>
                          <option>Project cordinator</option>
                          <option>consultancy cordianator</option>
                          <option>Quality asssuarance officer</option>
                          <option>PT cordinator</option>
                        </select>
        </div>
    </div>
</form>

<form>
    <h5>Consulatation hours</h5>
    <div class="form-row">
        <div class="form-group form-check space1">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Monday</label>
        </div>
        <div class="form-group form-check space ">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Tuesday</label>
        </div>
        <div class="form-group form-check space">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Wednesday</label>
        </div>
        <div class="form-group form-check space">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Thursday</label>
        </div>
        <div class="form-group form-check space">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Friday</label>
        </div>
    </div>
</form>

<br>
<div class="row justify-content-center">
    <button class="saveandedit">Edit </button>
    <button class="buttonspace saveandedit">Save</button>
</div>