@import '~@nebular/theme/styles/global/breakpoints';
h5 {
    color: #1DA1F2;
    margin-bottom: 5vh;
}

.saveandedit {
    width: 10vw;
    height: 5vh;
    background-color: #1DA1F2;
    color: #ffffff;
    border-radius: 1vh;
    border: none;
    margin-top: 1vh;
    margin-left: 1vw;
}

.formspace {
    margin-top: 2vh;
}

.space {
    width: 15vw;
}

@include media-breakpoint-down(sm) {
    .saveandedit {
        width: 33vw;
        height: 5vh;
        background-color: #1DA1F2;
        color: #ffffff;
        border-radius: 1vh;
        border: none;
        margin-bottom: 2vh;
    }
}