<form>
    <h5>View past conducted meeting</h5>

    <div class="form-row formspace">
        <div class="form-group col-md-4 ">
            <label for="inputState "> Coordinators</label>
            <select id="inputState " class="form-control ">
                           <option selected>Choose one</option>
                            <option value="examination">Examination</option>
                           <option value="postgraduate">Postgraduate</option>
                           <option value="pdp's">PDP's</option>
                           <option value="project">Project</option>
                           <option value="innovation">Research,Publication,innovation</option>
                                    </select>
        </div>
        <div class="form-group col-md-4 ">
            <label for="inputState ">   Choose year </label>
            <select id="inputState " class="form-control ">
                          <option selected>Choose one</option>
                          <option value="january">2010</option>
                          <option value="february">2011</option>
                          <option value="march">2012</option>
                          <option value="april">2013</option>
                          <option value="may">2014</option>
                          <option value="june">2015</option>
                          <option value="july">2016</option>
                          <option value="august">2017</option>
                          <option value="september">2018</option>
                          <option value="october">2019</option>
                          <option value="november">2020</option>
                          <option value="december">2021</option> 
                    </select>
        </div>
        <div class="form-group col-md-4 ">
            <label for="inputState ">  Choose month</label>
            <select id="inputState " class="form-control ">
                           <option selected>Choose one</option>
                           <option value="january">January</option>
                           <option value="april">February</option>
                           <option value="july">March</option>
                           <option value="october">April</option>
                           <option value="january">May</option>
                           <option value="april">June</option>
                           <option value="july">July</option>
                           <option value="october">August</option>
                           <option value="january">September</option>
                           <option value="april">October</option>
                           <option value="july">November</option>
                           <option value="october">December</option>
                     </select>
        </div>
    </div>
</form>
<div class="row justify-content-center formspace ">
    <button class="saveandedit ">View meeting information </button>
</div>