@import '~@nebular/theme/styles/global/breakpoints';
h5 {
    color: #1DA1F2;
    margin-bottom: 5vh;
}

.saveandedit {
    width: 8vw;
    height: 5vh;
    background-color: #1DA1F2;
    color: #ffffff;
    border-radius: 1vh;
    border: none;
    margin-top: 1vh;
    margin-left: 2vw;
}

.formspace {
    margin-top: 2vh;
}

.space {
    margin-top: 2vh;
}

.choosefile {
    margin-top: 4vh;
    margin-left: 3vw;
}

.saveandedit1 {
    width: 17vw;
    height: 5vh;
    background-color: #1DA1F2;
    color: #ffffff;
    border-radius: 1vh;
    border: none;
    margin-bottom: 4vh;
    margin-left: 1vw;
}

@include media-breakpoint-down(sm) {
    .saveandedit {
        width: 20vw;
        height: 5vh;
        background-color: #1DA1F2;
        color: #ffffff;
        border-radius: 1vh;
        border: none;
        // margin-bottom: 2vh;
    }
    .saveandedit1 {
        width: 40vw;
        height: 8vh;
        background-color: #1DA1F2;
        color: #ffffff;
        border-radius: 1vh;
        border: none;
        margin-bottom: 2vh;
        margin-left: 3vw;
    }
}