h5 {
    color: #1DA1F2;
    margin-bottom: 3vh;
}

form {
    margin-bottom: 1.8vw;
}

.datespace {
    margin-left: 1.3vw;
}

.datespace1 {
    margin-left: 2.8vw;
}

.buttonspace {
    margin-left: 3vw;
}

.saveandedit {
    width: 8vw;
    height: 5vh;
    background-color: #1DA1F2;
    color: #ffffff;
    border-radius: 1vh;
    border: none;
    margin-bottom: 4vh;
}

.calendar {
    background-color: #1DA1F2;
    color: #fff
}

.calendar:hover {
    color: #fff;
}

.pickdate {
    margin-top: 1.9vh;
}