<h5>Course Name</h5>
<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>

    </div>
    <h5>Topics to be covered:</h5>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="1">1.</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-3">
            <label for="2">2.</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-3">
            <label for="3">3.</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-3">
            <label for="4">4.</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
    </div>
    <h5>Accomplishments:</h5>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="1">1.</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
            <label for="2">2.</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
            <label for="3">3.</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
    </div>
    <h5>Tutors/Technical assistants:</h5>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="1">1.</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-3">
            <label for="2">2.</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-3">
            <label for="3">3.</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-3">
            <label for="4">4.</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
    </div>
    <h5>Venue</h5>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="email" class="form-control" id="inputEmail4">
        </div>
    </div>
    <h5>Fees</h5>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="udsmstudent">UDSM student</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Eg: TZS 300,000">
        </div>
        <div class="form-group col-md-3">
            <label for="nonstudent">Non-UDSM student</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Eg: USD 350">
        </div>
    </div>
    <h5>Payment</h5>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="udsmstudent">Bank Name</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Eg: CRDB">
        </div>
        <div class="form-group col-md-3">
            <label for="nonstudent">Account Name</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Eg: UDSM-COICT-ETE">
        </div>
        <div class="form-group col-md-3">
            <label for="nonstudent">Account Number</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Eg: 0150055111301">
        </div>
    </div>
</form>
<h5>Time</h5>
<div class="row">
    <div class="col-md-3">
        <p>Starting date</p>
        <br>
        <!-- <div class="input-group pickdate">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #b="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn calendar" (click)="b.toggle()" type="button">pick</button>
            </div>
        </div> -->
    </div>
    <div class="col-md-3">
        <p>Ending date</p>
        <br>
        <!-- <div class="input-group pickdate">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model2" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn calendar" (click)="d.toggle()" type="button">pick</button>
            </div>
        </div> -->
    </div>
    <!-- <div class="datespace">
        <p>From</p>
        <ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>
    </div>
    <div class="datespace1">
        <p>To</p>
        <ngb-timepicker [(ngModel)]="time2" [meridian]="meridian"></ngb-timepicker>
    </div> -->
</div>
<br>
<div class="row justify-content-center">
    <button class="saveandedit">Edit </button>
    <button class="buttonspace saveandedit">Save</button>
</div>