<body>
    <div class="container-fluid ">
        <div class="coverdiv">
            <h3 class="welcometext">Welcome back!</h3>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Registration Number</label>
                <input type="text" class="form-control email" id="inputEmail4" placeholder="2013-04-01824">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control password" id="inputPassword4" placeholder="Password">
            </div>
            <div class="form-check">
                <label class="form-check-label forgotpassword" for="gridCheck">
                                    Forgot Password?
                        </label>

            </div>
            <button type="button" (click)=" navigate() "><a class="link">Login</a></button>
        </div>
    </div>
</body>