<h5> Pending meetings</h5>
<div class="table-responsive">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th class="th" scope="col">S/N</th>
                <th class="th" scope="col">Cordinators
                    <th class="th" scope="col"> Purpose of the meeting </th>
                    <th class="th" scope="col">View details:</th>


        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Timetable
                </td>
                <td>Discussing of students results and performance of semester 1 for this academic year
                    <td>
                        <button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Examination
                </td>
                <td>Discussing of students results and performance of semester 1 for this academic year
                    <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Examination
                </td>
                <td>Discussing of students results and performance of semester 1 for this academic year
                    <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Examination
                </td>
                <td>Discussing of students results and performance of semester 1 for this academic year
                    <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Examination
                </td>
                <td>Discussing of students results and performance of semester 1 for this academic year
                    <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Examination
                </td>
                <td>Discussing of students results and performance of semester 1 for this academic year
                    <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>

        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination viewspace">
        <li class="page-item">
            <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item active " aria-current="page">
            <a class="page-link">1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item">
            <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>