<body>
    <div class="container-fluid ">


        <div class="coverdiv">
            <h3 class="welcometext">Welcome back!</h3>
            <form [formGroup]="stafform" (ngSubmit)="onSubmit()">

                <div class="form-group col-md-6">
                    <label for="inputEmail4">Staff ID Number</label>
                    <input type="text" class="form-control staffid" formControlName="staffid" type="number" id="staffid" placeholder="12564" required>
                    <div *ngIf="staffid.invalid && (staffid.dirty || staffid.touched)">
                        <p *ngIf="staffid.errors.required" class="alert">
                            Staff Id is required
                        </p>
                        <p *ngIf="staffid.errors.minlength" class="alert">
                            Staff Id should be atleast 5 characters
                        </p>
                        <p *ngIf="staffid.errors.maxlength" class="alert">
                            Staff Id should be maximum 5 characters
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control password" formControlName="password" id="inputPassword4" placeholder="Password" required>
                </div>
                <div class="form-check ">
                    <label class="form-check-label forgotpassword" for="gridCheck">
                                    Forgot Password?
                </label>
                </div>

                <button type="submit" [disabled]="!stafform.valid">
                <a >Login</a></button>
            </form>
            <p> {{ stafform.status }}</p>

        </div>
    </div>


</body>