<h5>Accepted final year project titles</h5>
<div class="table-responsive">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th class="th" scope="col">S/N</th>
                <th class="th" scope="col">First Name</th>
                <th class="th" scope="col">Middle Name</th>
                <th class="th" scope="col">Last Name:</th>
                <th class="th" scope="col">Registration No: </th>
                <th class="th" scope="col">Supervisor </th>
                <th class="th" scope="col"> Project title:</th>
                <th class="th" scope="col"> Description:</th>


        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Benard</td>
                <td>Hilary</td>
                <td>Kawambwo</td>
                <td>2018-04-01267</td>
                <td>Dr.Baraka Maiseli</td>
                <td><button type="button" class="btn btn-primary mr-2" placement="top" ngbPopover="Design and implementation of a smart home." popoverTitle="Project title">
      view
    </button></td>
                <td><button type="button" class="btn btn-primary mr-2" placement="top" ngbPopover="This project will inlcude home surveilance, gas and electricity monitoring system and also children monitorin and other hazards." popoverTitle="Project Description">
      view
    </button></td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Benard</td>
                <td>Hilary</td>
                <td>Kawambwo</td>
                <td>2018-04-01267</td>
                <td>Dr.Baraka Maiseli</td>
                <td><button type="button" class="btn btn-primary mr-2" placement="top" ngbPopover="Design and implementation of a smart home." popoverTitle="Project title">
      view
    </button></td>
                <td><button type="button" class="btn btn-primary mr-2" placement="top" ngbPopover="This project will inlcude home surveilance, gas and electricity monitoring system and also children monitorin and other hazards." popoverTitle="Project Description">
      view
    </button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Benard</td>
                <td>Hilary</td>
                <td>Kawambwo</td>
                <td>2018-04-01267</td>
                <td>Dr.Baraka Maiseli</td>
                <td><button type="button" class="btn btn-primary mr-2" placement="top" ngbPopover="Design and implementation of a smart home." popoverTitle="Project title">
      view
    </button></td>
                <td><button type="button" class="btn btn-primary mr-2" placement="top" ngbPopover="This project will inlcude home surveilance, gas and electricity monitoring system and also children monitorin and other hazards." popoverTitle="Project Description">
      view
    </button></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Benard</td>
                <td>Hilary</td>
                <td>Kawambwo</td>
                <td>2018-04-01267</td>
                <td>Dr.Baraka Maiseli</td>
                <td><button type="button" class="btn btn-primary mr-2" placement="top" ngbPopover="Design and implementation of a smart home." popoverTitle="Project title">
      view
    </button></td>
                <td><button type="button" class="btn btn-primary mr-2" placement="top" ngbPopover="This project will inlcude home surveilance, gas and electricity monitoring system and also children monitorin and other hazards." popoverTitle="Project Description">
      view
    </button></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Benard</td>
                <td>Hilary</td>
                <td>Kawambwo</td>
                <td>2018-04-01267</td>
                <td>Dr.Baraka Maiseli</td>
                <td><button type="button" class="btn btn-primary mr-2" placement="top" ngbPopover="Design and implementation of a smart home." popoverTitle="Project title">
      view
    </button></td>
                <td><button type="button" class="btn btn-primary mr-2" placement="top" ngbPopover="This project will inlcude home surveilance, gas and electricity monitoring system and also children monitorin and other hazards." popoverTitle="Project Description">
      view
    </button></td>
            </tr>


        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item active btn-primary1" aria-current="page">
            <a class="page-link">1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item">
            <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>