<form>
    <h5>Assign teachers to respective courses</h5>

    <div class="form-row formspace">
        <div class="form-group col-md-3 ">
            <label for="inputState ">Course code, Name</label>
            <select id="inputState " class="form-control ">
                          <option selected>Choose one</option>
                          <option>ES173, introduction to electrical circuits</option>
                            <option>TE172, workshop Training</option>
                      <option>TE336, satellite communication</option>
                      <option>TE380, digital signal processing </option>
                      <option>TE411, Microwave communication </option>
                      <option>ES213, Electronics measurements and instrumentation</option>
                        </select>
        </div>
        <div class="form-group col-md-3 ">
            <label for="inputState ">Instructor</label>
            <select id="inputState " class="form-control ">
                          <option selected>Choose one</option>
                          <option>Dr.Baraka maiseli</option>
                            <option>Dr.Libe masawe</option>
                        <option>Dr.Mwamilawa</option>
                        <option>Dr.Kisaka</option>
                        <option>Dr.Mafole</option>
                        </select>
        </div>
        <div class="form-group col-md-3 ">
            <label for="inputState ">Tutorial assistant</label>
            <select id="inputState " class="form-control ">
                          <option selected>Choose one</option>
                          <option>Mr Damas</option>
                            <option>Mrs Josephine</option>
                      <option>Mrs Misso</option>
                      <option>Mr Josephat</option>
                      <option>Mr Nassoro</option>
                        </select>
        </div>
        <div class="form-group col-md-3 ">
            <label for="inputState ">Lab/Technical staff</label>
            <select id="inputState " class="form-control ">
                          <option selected>Choose one</option>
                          <option>Eng Agripina</option>
                            <option>Eng Teyana</option>
                      <option>Eng Raphael</option>
                      <option>Eng Adriano</option>
                        </select>
        </div>
    </div>
</form>

<div class="row justify-content-center formspace ">
    <button class="saveandedit "> Done </button>
</div>
<div class="row justify-content-center formspace ">
    <button class="saveandedit1 "> Download completed teaching load </button>
</div>