<nb-layout>
    <nb-layout-header fixed>
        <div class="header-container">
            <div class="logo-container">
                <a (click)="toggleSidebar()" href="" class="sidebar-toggle">
                    <nb-icon icon="menu-2-outline"></nb-icon>
                </a>
                <a class="logo" href="" (click)="navigateHome()"> ETE </a>
            </div>
            <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
                <nb-option *ngFor="let theme of themes" [value]="theme.value">
                    {{ theme.name }} </nb-option>
            </nb-select>
        </div>

        <div class="header-container">
            <nb-actions size="small">

                <nb-action>
                    <nb-search type="rotate-layout"></nb-search>
                </nb-action>
                <nb-action class="control-item" icon="email-outline"></nb-action>
                <nb-action class="control-item" icon="bell-outline"></nb-action>

            </nb-actions>
        </div>

    </nb-layout-header>



    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" Fixed=true responsive state="primary">

        <nb-menu [items]="menus" autoCollapse="true"></nb-menu>

    </nb-sidebar>


    <nb-layout-column class="nbmiddle" Fixed=true>


        <router-outlet></router-outlet>




    </nb-layout-column>

    <nb-sidebar containerFixed=true end=true class="nbmiddle2"> </nb-sidebar>



    <nb-layout-footer fixed>

        <span class="created-by">
        Created with 💝 by <b><a href="https://akveo.page.link/8V2f" target="_blank">   Mecar  
        </a></b> 2020
      </span>
        <div class="socials">
            <a href="#" target="_blank" class="ion ion-social-github"></a>
            <a href="#" target="_blank" class="ion ion-social-facebook"></a>
            <a href="#" target="_blank" class="ion ion-social-twitter"></a>
            <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
        </div>

    </nb-layout-footer>

</nb-layout>