<h5>All staff profiles</h5>
<div class="table-responsive">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th class="th" scope="col">S/N</th>
                <th class="th" scope="col">First Name</th>
                <th class="th" scope="col">Middle Name</th>
                <th class="th" scope="col">Last Name:</th>
                <th class="th" scope="col">Email address </th>
                <th class="th" scope="col"> Highest education</th>
                <th class="th" scope="col"> Office No:</th>
                <th class="th" scope="col">View profile:</th>
        </thead>


        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Baraka</td>
                <td>james</td>
                <td>Maiseli</td>
                <td>Barakamaiseli@yahoo.com</td>
                <td>Doctor's degree</td>
                <td>D25</td>
                <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Baraka</td>
                <td>james</td>
                <td>Maiseli</td>
                <td>Barakamaiseli@yahoo.com</td>
                <td>Doctor's degree</td>
                <td>D25</td>
                <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Baraka</td>
                <td>james</td>
                <td>Maiseli</td>
                <td>Barakamaiseli@yahoo.com</td>
                <td>Doctor's degree</td>
                <td>D25</td>
                <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Baraka</td>
                <td>james</td>
                <td>Maiseli</td>
                <td>Barakamaiseli@yahoo.com</td>
                <td>Doctor's degree</td>
                <td>D25</td>
                <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Baraka</td>
                <td>james</td>
                <td>Maiseli</td>
                <td>Barakamaiseli@yahoo.com</td>
                <td>Doctor's degree</td>
                <td>D25</td>
                <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Baraka</td>
                <td>james</td>
                <td>Maiseli</td>
                <td>Barakamaiseli@yahoo.com</td>
                <td>Doctor's degree</td>
                <td>D25</td>
                <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Baraka</td>
                <td>james</td>
                <td>Maiseli</td>
                <td>Barakamaiseli@yahoo.com</td>
                <td>Doctor's degree</td>
                <td>D25</td>
                <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Baraka</td>
                <td>james</td>
                <td>Maiseli</td>
                <td>Barakamaiseli@yahoo.com</td>
                <td>Doctor's degree</td>
                <td>D25</td>
                <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Baraka</td>
                <td>james</td>
                <td>Maiseli</td>
                <td>Barakamaiseli@yahoo.com</td>
                <td>Doctor's degree</td>
                <td>D25</td>
                <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Baraka</td>
                <td>james</td>
                <td>Maiseli</td>
                <td>Barakamaiseli@yahoo.com</td>
                <td>Doctor's degree</td>
                <td>D25</td>
                <td><button type="button" class="btn btn-primary"> view </button></td>
            </tr>

        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item active " aria-current="page">
            <a class="page-link">1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item">
            <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>