@import '~@nebular/theme/styles/global/breakpoints';
body {
    display: flex;
    background-color: #dedede;
    font-family: 'Source Serif Pro', serif;
    padding: 10vh;
}

.container-fluid {
    height: 80vh;
    width: 40vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: #ffffff;
    margin: auto auto;
}

button {
    background-color: #1DA1F2;
    color: white;
    border-radius: 1vh;
    height: 6vh;
    width: 8vw;
    border: none;
    margin-left: 6vw;
    margin-top: 4vh
}

.welcometext {
    color: #1DA1F2;
    font-size: 3.5vh;
    margin-left: 1vw;
    margin-top: 4vh;
    margin-bottom: 6vh;
}

.forgotpassword {
    color: #1DA1F2;
    text-decoration: underline;
    margin-left: 3vw;
}

.coverdiv {
    margin-left: 8vw;
    margin-top: 14vh;
}

.email {
    width: 19vw;
    margin-bottom: 3vh;
}

.password {
    width: 19vw;
    margin-bottom: 3vh;
}

@include media-breakpoint-down(sm) {
    .container-fluid {
        height: 80vh;
        width: 100%;
        margin-top: 10vh;
        margin-bottom: 10vh;
        background-color: #ffffff;
        margin: auto auto;
        padding: 0, 5vh, 0, 5vh
    }
    body {
        font-family: 'Source Serif Pro', serif;
        padding: 0;
    }
    button {
        background-color: #1DA1F2;
        color: white;
        border-radius: 1vh;
        height: 5vh;
        width: 20vw;
        border: none;
        margin-left: 2vw;
        margin-top: 2vh
    }
    .email {
        width: 55vw;
        margin-bottom: 5vh;
    }
    .password {
        width: 55vw;
        margin-bottom: 3vh;
    }
    .link {
        margin-left: 25vw;
    }
    .forgotpassword {
        margin-left: 12.5vw;
    }
}