@import '~@nebular/theme/styles/global/breakpoints';
.container-fluid {
    height: 80vh;
    width: 45vw;
    margin-bottom: 10vh;
    background-color: #ffffff;
    margin: auto auto;
}

.title {
    text-align: center;
    font-weight: bold;
    margin-top: 3.8vh
}

h4,
h3 {
    text-align: center;
    margin-top: 3vh;
    font-weight: 550;
}

button {
    background-color: #1DA1F2;
    color: white;
    border-radius: 1vh;
    height: 6vh;
    width: 8vw;
    border: none;
    margin-top: 2vh
}

.space {
    margin-left: 2vw;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

body {
    display: flex;
    background-color: #dedede;
    font-family: 'Source Serif Pro', serif;
    padding: 10vh;
}

.getstarted {
    margin-top: 3vh;
}

.udlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vw;
    width: 8vw;
    background-image: url(../logo_ud.png);
}

@include media-breakpoint-down(sm) {
    .container-fluid {
        height: 80vh;
        width: 100%;
        background-color: #ffffff;
        margin: auto auto;
    }
    .udlogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 38vw;
        width: 30vw;
        background-image: url(../logo_ud.png);
    }
    body {
        font-family: 'Source Serif Pro', serif;
        padding: 0;
    }
    button {
        background-color: #1DA1F2;
        color: white;
        border-radius: 1vh;
        height: 5vh;
        width: 20vw;
        border: none;
        margin-left: 2vw;
        margin-top: 2vh
    }
    .space {
        margin-left: 4vw;
    }
}