h5 {
    color: #1DA1F2;
    margin-bottom: 5vh;
}

.btn-primary {
    background-color: #1dA1F2;
    width: 7vw;
    border: none;
}

.btn-primary:hover {
    background-color: #1dA1F2;
}

.th {
    background-color: #e8e8e8;
}